<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
  </head>
  <body>
    <h1>Maintenance</h1>
    <p>{{ screamIt "We are in maintenance. Return later." }}</p>

    {{> footer}}
  </body>
</html>
