<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
  </head>
  <body>
    {{> header}}

    <p>My projects</p>
    <li>project 1</li>
    <li>project 2</li>

    {{> footer}}
  </body>
</html>
